@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Mono&display=swap');

@font-face {
    font-family: 'Inter Display';
    src: url(fonts/InterDisplay-Light.woff) format('woff'),
        url(fonts/InterDisplay-Light.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url(fonts/InterDisplay-Regular.woff) format('woff'),
        url(fonts/InterDisplay-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url(fonts/InterDisplay-Medium.woff) format('woff'),
        url(fonts/InterDisplay-Medium.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url(fonts/InterDisplay-SemiBold.woff) format('woff'),
        url(fonts/InterDisplay-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url(fonts/InterDisplay-Bold.woff) format('woff'),
        url(fonts/InterDisplay-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* KEYFRAMES */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flash {
  0% { opacity: 0; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

@keyframes dropAndOpacity {
    0% {
        opacity: 0;
        top: -60px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes upAndOpacity {
    0% {
        opacity: 0;
        top: 60px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

/* MEDIA */

:root {
    --background-color: #F8F8F8;
    --text-color: #120303;
    --black: #000000;
    --white: #ffffff;
    --fs48: clamp(2.5rem, 2vh, 3rem);
    --fs32: clamp(1.8rem, 2vh, 2rem);
    --fs20: clamp(1rem, 2vh, 1.25rem);
    --fs16: clamp(0.875rem, 2vh, 1rem);
    --fs14: clamp(0.625rem, 2vh, 0.875rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-feature-settings: "kern" 1, "liga" 1;
    font-variant-ligatures: common-ligatures;
}

html, body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    overflow-x: hidden;
    background-color: var(--background-color);
    cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}

.custom-cursor svg {
  width: 100%;
  height: 100%;
}

.cursor-circle,
.cursor-triangle {
  fill: var(--background-color);
  transition: opacity 0.2s ease, transform 0.25s ease;
  transform-origin: center;
}

.cursor-triangle {
  opacity: 0;
  transform: scale(0.5);
}

.custom-cursor.is-pointer .cursor-circle {
  opacity: 0;
  transform: scale(0.5);
}

.custom-cursor.is-pointer .cursor-triangle {
  opacity: 1;
  transform: scale(1);
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: none;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: none;
}

body {
    max-width: 1440px;
}

header {
    z-index: 999;
    position: fixed;
    top: 24px;
    padding: 0px 40px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
}

header .logoImage {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.3s;
    mix-blend-mode: difference;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
}

header nav a.navLink {
    position: relative;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.3s;

    font-family: "PT Mono", monospace;
    font-size: var(--fs20);
    color: var(--white);
    mix-blend-mode: difference;

    text-decoration: none;
}

header nav a.navLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* hover */
header nav a.navLink:hover::after {
    transform: scaleX(1);
}

main {
    width: 100%;
}

section.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 155px;
    gap: 145px;
    width: 100%;
    position: relative;
}

section.hero .leftLines,
section.hero .rightLines {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

section.hero .leftLines .line-wrapper,
section.hero .rightLines .line-wrapper {
    width: 100%;
}

section.hero .leftLines svg,
section.hero .rightLines svg {
    width: 100%;
}

section.hero .cameraImage {
    min-width: 188px;
    width: 23%;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.6s ease;
    transform-origin: center;
}

section.hero .cameraImage.flash {
  transform: translate(-50%, -50%) scale(1.3);
}

.svg-container {
    position: relative;
}

#mySVG path {
    opacity: 0;
}

.svgCursor {
    position: absolute;
    width: 2px;
    height: 34px;
    background: black;
    animation: blink 0.7s step-start infinite;
    top: 0;
    left: 0;
}

.flash-overlay {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9998;
}

.flash-overlay.active {
  animation: flash 0.4s ease;
}

.line-wrapper {
    position: relative;
}

.line-wrapper svg {
    overflow: visible;
}

.line-wrapper svg circle {
    transition: all 0.5s;
}

.label {
  position: absolute;
  white-space: nowrap;
  transform-origin: center;
  transition: transform 0.5s;
  background-color: var(--background-color);
  font-size: var(--fs14);
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.42px;
  border: 1px #ECECEC solid;
  border-radius: 12px;
  padding: 4px 8px;
}

.line-wrapper.tl .label{
    top: -10px;
    left: 72px;
}

.line-wrapper.tl .label:nth-of-type(2) { left: 345px; }

.line-wrapper.bl .label {
    bottom: -8px;
    left: 140px;
}

.line-wrapper.bl .label:nth-of-type(2) { left: 428px; }

.line-wrapper.tr .label {
    top: -10px;
    right: 31px;
}

.line-wrapper.tr .label:nth-of-type(2) { right: 280px; }

.line-wrapper.br .label {
    bottom: -8px;
    right: 58px;
}

.line-wrapper.br .label:nth-of-type(2) { right: 245px; }

.label.active { transform: scale(1.2); }
.marker.active { fill: var(--text-color); }

.base-path {
  stroke-width: 1;
}

.progress-path {
  stroke-width: 1;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  transition: none;
}

section.applyNow {
    gap: 40px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.applyNow p {
    text-align: center;
    color: var(--text-color);
    line-height: 1.1;
    font-weight: 400;
    font-size: var(--fs16);
    width: 22%;
    display: inline-block;
    position: relative;
    animation: dropAndOpacity 1.2s forwards;
}

.applyNowButton {
    background-color: var(--black);
    color: var(--background-color);
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: 500;
    font-size: var(--fs14);
    line-height: 1;
    letter-spacing: -0.42px;
    position: relative;
    animation: upAndOpacity 1.2s forwards;
    z-index: 10;
    transition: all 0.5s;
}

.applyNowButton:hover {
    background-color: #C2C2C2;
    color: var(--text-color);
}

section.advantages {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 292px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
    margin-top: 80px;
    padding: 20px 40px;
    background-color: var(--white);    
}

section.advantages .plug {
    background-color: #F3F3F3;
    width: 2px;
    height: 100%;
    border-radius: 990px;
}

section.advantages img.line {
    opacity: 0.11;
    position: absolute;
    width: 546px;
    height: 682px;
}

section.advantages img.line.left {
    left: -100px;
    bottom: -150px;
    transform: rotate(120deg);
}

section.advantages img.line.right {
    bottom: -150px;
    right: -150px;
    transform: rotate(40deg);
}

section.advantages article .textbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
    width: 100%;
}

section.advantages article .textbox .titleText {
    font-weight: 400;
    white-space: nowrap;
    font-size: var(--fs48);
    letter-spacing: -0.96px;
    line-height: 1.1;
}

section.advantages article .textbox p.titleText,
section.advantages article .textbox p.descriptionText {
    white-space: wrap;
    font-size: var(--fs16);
    line-height: 1.2;
    letter-spacing: -0.32px;
}

section.aboutUs {
    padding: 0 40px;
    margin-top: 120px;
    gap: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.aboutUs img.aboutImage {
    width: 36%;
    min-width: 448px;
}

section.aboutUs .textbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 42%;
    min-width: 410px;
}

h2.titleText,
section.configurator h2.titleText span {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    white-space: nowrap;
    font-size: var(--fs48);
    letter-spacing: -0.96px;
    line-height: 1.1;
}

section.aboutUs .textbox .descriptionText {
    font-size: var(--fs16);
    line-height: 1.2;
    letter-spacing: -0.32px;
}

section.portfolio {
    padding: 0px 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 360px;
}

section.portfolio .sliderBox {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

section.portfolio .sliderBox .video-preview {
    width: 900px;
    height: 506px;
    position: relative;
}

section.portfolio .sliderBox .rightBox .video-slider {
    position: relative;
    width: 440px;
    height: 245px;
    opacity: 0.5;
}

section.portfolio .sliderBox .video-preview iframe,
section.portfolio .sliderBox .rightBox .video-slider iframe {
    border-radius: 12px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.portfolio .sliderBox .rightBox {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

section.portfolio .sliderBox .rightBox .slider-navigate {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

section.portfolio .sliderBox .rightBox .slider-navigate button {
    border-radius: 100%;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.5s;
}

section.portfolio .sliderBox .rightBox .slider-navigate button img {
    transition: filter 0.5s;
}

section.portfolio .sliderBox .rightBox .slider-navigate button:hover {
    background-color: var(--black);
}

section.portfolio .sliderBox .rightBox .slider-navigate button:hover img {
    filter: invert(1) brightness(2);
}

section.portfolio .sliderBox .rightBox .slider-navigate button.right {
    transform: scaleX(-1);
}

section.configurator {
    margin-top: 136px;
    padding: 16px 40px;
    background-color: var(--white);
}

section.configurator h2.titleText span {
    opacity: 0.5;
}

section.configurator .leftBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

section.configurator .leftBox img {
    width: 688px;
    opacity: 0.5;
}

section.configurator .leftBox .descriptionText {
    font-family: "PT Mono", monospace;
    font-size: var(--fs14);
    color: var(--text-color);
    opacity: 0.2;
    line-height: 1.1;
    letter-spacing: -0.28px;
}

footer {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 64px 40px;
    position: relative;
    margin-top: 112px;
    width: 100%;
    height: 577px;
    background-color: #1A1A1A;
}

footer .bg-image {
    z-index: 1;
    position: absolute;
    width: 1669px;
    opacity: 0.2;
    top: -400px;
    left: -100px;
}

footer .leftBox,
footer .rightBox  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
}

footer .rightBox {
    align-items: end;
}

footer .leftBox .links,
footer .rightBox .links {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

footer .rightBox .links {
    align-items: end;
}

footer .rightBox .creatorsLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

footer .links a,
footer .rightBox .creatorsLinks a {
    color: var(--white);
    font-size: var(--fs16);
    line-height: 20px;
    letter-spacing: -0.32px;
    position: relative;
}

footer .links a::after,
footer .rightBox .creatorsLinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;
    background-color: var(--white);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

footer .links a:hover::after,
footer .rightBox .creatorsLinks a:hover::after {
    transform: scaleX(1);
}

footer .leftBox .yearText,
footer .rightBox .creatorsLinks,
footer .centerBox .allRightText {
    color: var(--white);
    font-size: var(--fs16);
    line-height: 20px;
    letter-spacing: -0.32px;
    opacity: 0.5;
    font-weight: 400;
}

footer .centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

footer .centerBox .topBox {
    gap: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .centerBox .allRightText {
    margin-top: 112px;
}

footer .centerBox .topBox .applyNowButton {
    background-color: #434343;
    color: var(--white);
}

footer .centerBox .topBox .applyNowButton:hover {
    background-color: var(--white);
    color: var(--text-color);
}

@media (max-width: 1024px) {
    body {
        max-width: 1024px;
    }

    .line-wrapper.tl .label{
        top: -10px;
        left: 72px;
    }

    .line-wrapper.tl .label:nth-of-type(2) { left: 345px; }

    .line-wrapper.bl .label {
        bottom: -8px;
        left: 140px;
    }

    .line-wrapper.bl .label:nth-of-type(2) { left: 428px; }

    .line-wrapper.tr .label {
        top: -10px;
        right: 31px;
    }

    .line-wrapper.tr .label:nth-of-type(2) { right: 280px; }

    .line-wrapper.br .label {
        bottom: -8px;
        right: 58px;
    }

    .line-wrapper.br .label:nth-of-type(2) { right: 245px; }


    section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
    section.applyNow p {
        width: 35%;
        line-height: 16px;
        font-size: var(--fs14);
    }

    section.advantages article:nth-of-type(3) .textbox {
        gap: 40px;
    }

    section.advantages article .textbox .titleText {
        font-size: var(--fs32);
    }

    section.advantages article .textbox p.titleText, 
    section.advantages article .textbox p.descriptionText {
        font-size: var(--fs14);
    }
}

@media (max-width: 768px) {
    body {
        max-width: 768px;
    }
}